body {
  background-image: url("https://www.afdb.org/sites/default/files/styles/1700x900/public/brazil.jpg?itok=qXJPDAh1");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}